 <article class="card mb-2" >
    <div class="card-body">
      <p>{{this.urls}} </p>

    <p>{{this.shortUrl}}</p>

    <a href="#" class="btn btn-info">enviar</a>
    <a href="#" class="btn btn-warning">editar</a>
    <a href="#" class="btn btn-danger">eliminar</a> 
    </div>
  </article>